<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taak.pro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/taak5"
        android:label="Taak"
        android:roundIcon="@drawable/taak5"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2"
        tools:targetApi="31">
        <activity
            android:name=".Splash"
            android:exported="false"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".Enterpassword"
            android:exported="false"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".Createpassword"
            android:exported="false"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".MainPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Searchbar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeriesWatchnext"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpcommingNext"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MovieWatchnext"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Movies"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity14"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackSelectionDialog"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity8"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity7"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity6"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>